.columns {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1300px;
    border-radius: 12px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
}

#header-columns {
    display: flex;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 8px 0 0;
    padding: 15px 0;
    justify-content: space-between;
    gap: 12px;
}

#header-columns div {
    flex: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#content-columns {
    display: flex;
    width: 100%;
    min-height: 750px;
    border-top: 4px solid #007bff;
    gap: 12px;
    padding-top: 15px;
}
