#membersContainer {
    flex: 1;
    border: 1px solid #ddd;
    padding: 12px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

#team-members-header,
#new-tasks-header,
#tasks-in-progress-header,
#tasks-completed-header {
    background: #007bff;
    color: white;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    flex: 1;
}

#team-members-header, #membersContainer,
#new-tasks-header, #new-tasks,
#tasks-in-progress-header, #in-progress-tasks,
#tasks-completed-header, #completed-tasks {
    width: 25%;
}
